.tableborder table, .tableborder th, .tableborder td {
  border: 1px solid black;
}

.tableborder {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.tableborder tr {
  border-bottom: 1px solid #dddddd;
}

.tableborder tr td {
  padding: 12px 15px;
}

.tableborder tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.tableborder tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.tableborder tr.active-row {
    font-weight: bold;
    color: #009879;
}